.cards__like-button {
  display: block;
  background-image: url(../../../images/like-button.svg);
  min-width: 20.76px;
  min-height: 18.13px;
  border: 0;
  padding: 0;
  background-color: rgba(255, 255, 255, 1);
}

.cards__like-button:hover {
  opacity: 0.5;
  cursor: pointer;
  transition: opacity 2s ease;
}

